<div class="line-graph-with-legend">
    <div class="chart">
        {{#if data}}
            {{#paper-card}}
                <span class="top-label"> Vendas Totais (%) {{graphInterpretationTitleYAxe}}</span>
                {{ember-chart type="line" data=data options=data.options height=height}}
                <span class="bottom-label"> Total de items (%)</span>
            {{/paper-card}}
            {{#if (eq legendType "point")}}
                <div class="point-legend">
                    {{#each data.legends as |data index| }}
                        <div class="legend-item">
                            <div class="circle" style="background: {{get colors index}}"> </div>
                            <span style="text-align: left">{{data}}</span>
                        </div>
                    {{/each}}
                </div>
            {{else if (eq legendType "label")}}
                <div class="legend">
                    {{#each data.legends as |legend|}}
                        <span>{{legend}}</span>
                    {{/each}}
                </div>
            {{else}}
            {{/if}}
        {{else}}
            nothing
        {{/if}}
    </div>
</div>