<div id="add-product-modal-overlay" class="add-product-modal" onClick={{action closeModal}}>
    <div id="add-product-modal-overlay" class="purchase-transaction" >
        {{#paper-card class=nameClassModal as |card|}}
        <p>{{titleModal}}</p>
        <div class="inputs">
            {{#if displayMode}}
                {{paper-input class="flex-30" disabled=true label="Nome" value=model.name onChange=null}}
                {{paper-input class="flex-30" disabled=true label="Identificação" value=model.identification onChange=null}}
                {{paper-input class="flex-30" disabled=true label="Email" value=model.email onChange=null}}
                {{paper-input class="flex-30" disabled=true label="CPF" value=model.cpf onChange=null}}
                {{paper-input class="flex-30" disabled=true label="CNPJ" value=model.cnpj onChange=null}}
                {{paper-input class="flex-30" disabled=true label="Porte" value=model.size onChange=null}}
                {{paper-input class="flex-30" disabled=true label="Atividades" value=model.activities onChange=null}}
                {{paper-input class="flex-30" disabled=true label="Endereço" value=model.address onChange=null}}
                {{paper-input class="flex-30" disabled=true label="CEP" value=model.cep onChange=null}}
                {{paper-input class="flex-30" disabled=true label="Estado" value=model.state onChange=null}}
                {{paper-input class="flex-30" disabled=true label="Cidade" value=model.city onChange=null}}
                {{paper-input class="flex-30" disabled=true label="Bairro" value=model.neighborhood onChange=null}}
                
                {{#paper-button class="flex-100 button gray-white" raised=true primary=true onClick=(action onClose)}}Fechar{{/paper-button}}
            {{else}}
                {{paper-input class="flex-100" label="Nome do produtor" value=model.name onChange=(action (mut model.name))}}
                {{paper-input class="flex-40" label="Identificação do produtor" value=model.identification onChange=(action (mut model.identification))}}
                {{paper-input class="flex-40" label="Email do produtor" value=model.email onChange=(action (mut model.email))}}
                {{paper-input class="flex-40" label="CPF do produtor" value=model.cpf onChange=(action 'maskCpf')}}
                {{paper-input class="flex-40" label="CNPJ do produtor" value=model.cnpj onChange=(action 'maskCNPJ')}}
                
                {{#paper-button class="flex-40 button gray-white" raised=true primary=true onClick=(action onClose)}}Cancelar{{/paper-button}}
                {{#paper-button class="flex-40 button green-white" raised=true primary=true onClick=(action onSave model true)}}Adicionar{{/paper-button}}
            {{/if}}
        </div>
        {{/paper-card}}
    </div>
</div>
