<div id="add-product-modal-overlay" class="add-product-modal" onClick= {{action closeModal}}>
    <div id="add-product-modal-overlay" class="purchase-transaction">
        {{#paper-card class=nameClassModal as |card|}}
            <p>{{titleModal}}</p>
            <div class="inputs">
                {{#if displayMode}}
                    {{paper-input class="flex-30" disabled=true label="Nome" value=model.name onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="CNPJ" value=model.cnpj onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="Capital Social" value=model.socialCapital onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="Natureza Jurídica" value=model.legalNature onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="Porte" value=model.size onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="Atividades" value=model.activities onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="Razão Social" value=model.socialReason onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="Telefone" value=model.phoneNumber onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="CEP" value=model.cep onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="Endereço" value=model.address onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="Bairro" value=model.neighborhood onChange=null}}
                    {{paper-input class="flex-30" disabled=true label="Email" value=model.email onChange=null}}
                
                    {{#paper-button class="flex-100 button gray-white" raised=true primary=true onClick=(action onClose)}}Fechar{{/paper-button}}
                {{else}}
                    {{paper-input class="flex-100" label="Nome da cooperativa" value=model.name onChange=(action (mut model.name))}} 
                    {{paper-input class="flex-40" label="Email da cooperativa" value=model.email onChange=(action (mut model.email))}}
                    {{paper-input class="flex-40" label="CNPJ da cooperativa" value=model.cnpj onChange=(action 'maskCNPJ')}}
                    {{#paper-button class="flex-40 button gray-white" raised=true primary=true onClick=(action onClose)}}Cancelar{{/paper-button}}
                    {{#paper-button class="flex-40 button green-white" raised=true primary=true onClick=(action onSave model true)}}Adicionar{{/paper-button}}
                {{/if}}
            </div>
        {{/paper-card}}
    </div>
</div>