<div id="add-product-modal-overlay" class="add-product-modal" onClick={{action closeModal}}>
    <div id="add-product-modal-overlay" class="purchase-transaction" >
        {{#paper-card class="box-full" as |card|}}
        <p>Adicionar novo produto</p>
        <div class="inputs">
            {{paper-input class="flex-40" label="Identificação do produto" value=model.identification onChange=(action (mut model.identification))}} 
            {{paper-input class="flex-40" label="Nome do produto" value=model.name onChange=(action (mut model.name))}}
            <div class="flex-40">
                {{#power-select selected=model.selectScale placeholder="Unidade de Medida" options=scales onchange=(action (mut model.selectScale)) as
                |name|}} {{name}} {{/power-select}}
            </div>
            {{paper-input-mask mask='currency' class="flex-40" label="Preço unitário" value=model.unityPrice onChange=(action (mut model.unityPrice))}}
                {{#paper-button class="flex-40 button gray-white" raised=true primary=true onClick=(action onClose)}}Cancelar{{/paper-button}}
                {{#paper-button class="flex-40 button green-white" raised=true primary=true onClick=(action onSave model true)}}Adicionar{{/paper-button}}
        </div>
        {{/paper-card}}
    </div>
</div>