<div class="producer-dashboard-detail">
    <h1>Extrato por produto</h1>
    <div class="transactions">
        {{#paper-card class="box-big" as |card|}}
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p class="flex-50"></p>
                <span class="flex-50" style="margin-top: 40px; margin-right: 10px;">
                </span>
            </div>
            <table>
                <tr class="header">
                    <th class="name">Produto</th>
                    <th>Quantidade total</th>
                    <th>Preço Médio</th>
                    <th>Valor Total</th>
                </tr>
                {{#each products as |item|}}
                    <tr>
                        <th class="name">{{item.name}}</th>
                        <th>{{item.totalQuantity}}</th>
                        <th>{{item.averagePrice}}</th>
                        <th>{{item.totalValue}}</th>
                    </tr>
                    {{else}}
                        Nenhuma transação
                {{/each}}
            </table>
        {{/paper-card}}
    </div>
</div>