<div class="purchase-transaction">
    <h1>Transação de compra</h1> 

             {{#paper-card class="box-full" as |card|}}
            <p>Nova compra</p>
            <div class="inputs">
                <div class="flex-20">
                    {{#power-select selected=selectedProducer searchField="name" placeholder="Produtor" options=producers onchange=(action (mut selectedProducer)) as |producer|}}
                        {{producer.name}}
                    {{/power-select}}
                </div>
                
                <div class="flex-20">
                    {{#power-select selected=selectedProduct searchField="identification" placeholder="ID do Produto" options=products onchange=(action (mut selectedProduct)) as |product|}}
                        {{product.identification}}
                    {{/power-select}}
                </div>                
                                    
                {{paper-input-mask class="flex-20" label="Data da transação" mask='date' value=transactionDate onChange=(action (mut transactionDate))}}
                <div class="flex-20">
                    {{#power-select selected=selectedProduct  searchField="name"  placeholder="Produto" options=products onchange=(action (mut selectedProduct)) as |product|}}
                        {{product.name}}
                    {{/power-select}}
                </div>           
                {{paper-input class="flex-20" label="Quantidate" value=amount onChange=(action (mut amount))}}
                <div class="flex-20">
                    {{#power-select selected=selectScale placeholder="Unidade de Medida" options=scales onchange=(action (mut selectScale)) as |name|}}
                        {{name}}
                    {{/power-select}}
                </div>                  
                {{paper-input-mask mask='currency' class="flex-20" label="Preço unitário" value=unityPrice onChange=(action (mut unityPrice))}}
                {{paper-input-mask mask='currency' class="flex-20" label="Custo dos produtos" disabled=true value=productCost onChange=(action (mut productCost))}}
                {{paper-input class="flex-20" label="Imposto" value=impost onChange=(action (mut impost))}}
                {{paper-input class="flex-20" label="Desconto" value=discount onChange=(action (mut discount))}}                
            {{#paper-button class="green-white" raised=true primary=true}}Salvar Compra{{/paper-button}}

            </div>
            {{/paper-card}}
            
            {{#paper-card class="box-big" as |card|}}   
                            <p>Histórico</p>
                <table>
                    <tr class="header">
                        <th>Data</th>
                        <th class="name">Produto</th>
                        <th>Quantidade</th>
                        <th>Custo</th>   
                    </tr>
                        {{#each historic as |item|}}
                            <tr>
                                <th>{{item.date}}</th>
                                <th class="name">{{item.productName}}</th>
                                <th class="name">{{item.quantity}}</th>
                                <th>{{item.cost}}</th>
                            </tr>
                        {{else}}
                            Nenhuma transação
                        {{/each}}
                    </table>   
                    <th class="button"><span>{{#paper-button href="" }}Ver todos{{/paper-button}}</span></th>      
            {{/paper-card}}

             {{#paper-card class="box-small" as |card|}}            
            {{/paper-card}}

</div>