<div class="reports-container">
    <h1>Relatórios</h1>
    <span>
        {{#paper-button href="" }}Imprimir Relatório{{/paper-button}}
    </span>
    {{#paper-card class="box-small-double" as |card|}}
        <p>Margem de Contribuição</p>
        {{graph-money-amount-hightlighted model=contributionMargin.unitary}} {{graph-money-amount-hightlighted model=contributionMargin.total}}
    {{/paper-card}}
    {{#paper-card class="box-big-double" as |card|}}
        <div class="header">
            <p>
                Movimentação do Estoque
            </p>
            <span>
                {{#paper-button href="" onClick=null }}Ver Histórico{{/paper-button}}
            </span>
        </div>
        {{graph-money-amount-hightlighted class="flex-45" model=stockDrive.output}} {{graph-money-amount-hightlighted class="flex-45" model=stockDrive.input}}
    {{/paper-card}}
    {{graph-money-amount-simple model=grossSales}}
    {{#paper-card class="box-big" as |card|}}
        <div class="header">
            <p>
                Impostos
            </p>
            <span>
                {{#paper-button href="" onClick=null }}Ver Histórico{{/paper-button}}
            </span>
        </div>
        <div class="graph-container">
            <div class="graph-item">
                <div class='circle'>
                    <div class="circle-content">300</div>
                </div>
                <div class='circle-subtitle'>Retorno sobreo o Patrimônio Líquido</div>
            </div>
            <div class="graph-item">
                <div class='circle'>
                    <div class="circle-content">105</div>
                </div>
                <div class='circle-subtitle'>Capital Circulante Líquido(Capital de Giro)</div>
            </div>
        </div>
    {{/paper-card}}
    {{graph-money-amount-simple model=purchases}}
    {{#paper-card class="box-big" as |card|}}
        <div class="header">
            <p>
                Impostos
            </p>
            <span>
                {{#paper-button href="" onClick=null }}Ver Histórico{{/paper-button}}
            </span>
        </div>
        <div class="graph-container">
            <div class="graph-item">
                <div class='circle'>
                    <div class="circle-content">330</div>
                </div>
                <div class='circle-subtitle'>Margem Operacional</div>
            </div>
            <div class="graph-item">
                <div class='circle'>
                    <div class="circle-content">105</div>
                </div>
                <div class='circle-subtitle'>Capital de Giro Próprio</div>
            </div>
        </div>
    {{/paper-card}}
    {{#paper-card class="box-full large" as |card|}}
        <div class="header">
            <p>
                Curva ABC
            </p>
        </div>
        {{#if abcChartData}}
            {{line-graph-with-legend chartData=abcChartData legendType="" height=200 }}
            {{#if abcData}}
                <div class="legend">
                    <div class="legend-item">
                        <div class="legend-item-title" style="background: #BB77D6;">
                            A
                        </div>
                        <div class="legend-item-content">
                            {{#each abcData.a as |item|}}
                                <span>{{item}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="legend-item">
                        <div class="legend-item-title" style="background: #FFA947;">
                            B
                        </div>
                        <div class="legend-item-content">
                            {{#each abcData.b as |item|}}
                                <span>{{item}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="legend-item">
                        <div class="legend-item-title" style="background: #00D5B2;">
                            C
                        </div>
                        <div class="legend-item-content">
                            {{#each abcData.c as |item|}}
                                <span>{{item}}</span>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{else}}
            Carregando....
        {{/if}}
    {{/paper-card}}
</div>