{{#if isShowInfoModal}}
    <div id="add-product-modal-overlay" class="add-product-modal" onClick={{toggle 'isShowInfoModal' this}}>
        <div id="add-product-modal-overlay" class="puarchase-transaction" style="display: flex; justify-content: center; align-items: center;">
            {{#paper-card class="box-small"  as |card|}}
                <p>
                    O que é a curva ABC
                </p>
                <p>A curva ABC, no caso de administração de estoques, apresenta resultados da demanda de cada item nas
                    seguintes áreas:</p>
                <ul>
                    <li>giro no estoque;</li>
                    <li>proporção sobre o faturamento no período;</li>
                    <li>margem de lucro obtida.</li>
                </ul>
                <p>Os itens são classificados como (Carvalho, 2002, p.&nbsp;227): </p>
                <ul>
                    <li>
                        <p>'''de Classe A''': de maior importância, valor ou quantidade, correspondendo a '''20%''' do
                            total (podem ser itens do estoque com uma demanda de 65% num dado período); </p>
                    </li>
                    <li>
                        <p>'''de Classe B''': com importância, quantidade ou valor intermediário, correspondendo a
                            '''30%''' do total (podem ser itens do estoque com uma demanda de 25% num dado período);</p>
                    </li>
                    <li>
                        <p>'''de Classe C''': de menor importância, valor ou quantidade, correspondendo a '''50%''' do
                            total (podem ser itens do estoque com uma demanda de 10% num dado período).</p>
                    </li>
                </ul>
            {{/paper-card}}
        </div>
    </div>
{{/if}}
<div class="purchase-transaction">
    <h1>Transação de Venda</h1>
    {{#paper-card class="box-full" as |card|}}
        <p>Nova Venda</p>
        <div class="inputs">
            <div class="flex-20">
                {{#power-selector-with-label selected=selectedProducer searchField="name" placeholder="Produtor" options=producers onchange=(action
                    (mut selectedProducer)) as |producer|}}
                    {{producer.name}}
                {{/power-selector-with-label}}
            </div>
            {{paper-input class="flex-20" id="date" label="Data da transação" value=transactionDate onChange=(action (mut transactionDate))}}
            <div class="flex-20">
                {{#power-selector-with-label selected=selectedProduct searchField="name" placeholder="Produto" options=products onchange=(action
                    (mut selectedProduct)) as |product|}}
                    {{product.name}}
                {{/power-selector-with-label}}
            </div>
            {{paper-input class="flex-20" type="number"  label="Quantidade" value=amount onChange=(action (mut amount))}}
            {{paper-input disabled=true class="flex-20" label="Unidade de Medida" value=selectedProduct.scale.scaleName onChange=null}}
            {{paper-input-mask mask='currency' class="flex-20" label="Preço unitário" value=unityPrice onChange=(action (mut unityPrice))}}
            {{paper-input class="flex-20" label="Custo dos produtos" value=productCost onChange=null}}
            {{paper-input-mask mask='currency' class="flex-20" label="Imposto" value=impost onChange=(action (mut impost))}}
            {{paper-input-mask mask='currency' class="flex-20" label="Desconto" value=discount onChange=(action (mut discount))}}
            {{#paper-button class="green-white" raised=true primary=true onClick=(action 'saveTransaction')}}Salvar
                Venda{{/paper-button}}
        </div>
    {{/paper-card}}
    {{#paper-card class="box-big" as |card|}}
        <p>Histórico</p>
        <table>
            <tr class="header">
                <th>Data</th>
                <th class="name">Produto</th>
                <th>Quantidade</th>
                <th>Custo</th>
            </tr>
            {{#each historic as |item|}}
                <tr>
                    <th>{{item.date}}</th>
                    <th class="name">{{item.productName}}</th>
                    <th class="name">{{item.quantity}}</th>
                    <th>{{item.cost}}</th>
                </tr>
            {{else}}
                Nenhuma transação
            {{/each}}
        </table>
        <th class="button">
            <span>
                {{#paper-button onClick=(action "openViewAll")}}{{titleButtonViewAll}}{{/paper-button}}
            </span>
        </th>
    {{/paper-card}}
    {{!-- <div class="filters" style="margin-top: 25px; width: 100%; justify-content: space-around;  display: flex; flex-wrap:nowrap; flex-direction: row;">
        <div class="flex-30">
            {{#power-selector-with-label selected=selectedYear  placeholder="Ano" options=years onchange=(action
                    (mut selectedYear)) as |year|}}
                {{year}}
            {{/power-selector-with-label}}
        </div>
        <div class="flex-30">
            {{#power-selector-with-label selected=selectedMonth placeholder="Mês" options=(array "Janeiro" "Fevereiro" "Março" "Abril" "Maio" "Junho" "Julho" "Agosto" "Setembro" "Outubro" "Novembro" "Dezembro") onchange=(action
                    (mut selectedMonth)) as |month|}}
                {{month}}
            {{/power-selector-with-label}}
        </div>
    </div> --}}
    {{#paper-card class="box-full-large" as |card|}}
        <div class="header" style="display: flex; justify-content: space-between; margin-right:25px;">
            <p>
                Curva ABC
            </p>
            <div id="has-info-tooltip" onClick={{toggle 'isShowInfoModal' this}}>
                <img class="logo" style=" cursor: pointer; height: 15px; width: 15px;" src="./images/info-icon.png">
            </div>
        </div>
        {{#if abcChartData}}
            {{abc-curve-graph chartData=abcChartData legendType="" height=200 }}
            {{#if abcData}}
                <div class="legend">
                    <div class="legend-item">
                        <div class="legend-item-title" style="background: #BB77D6;">
                            A
                        </div>
                        <div class="legend-item-content">
                            {{#each abcData.a as |item|}}
                                <span>{{item}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="legend-item">
                        <div class="legend-item-title" style="background: #FFA947;">
                            B
                        </div>
                        <div class="legend-item-content">
                            {{#each abcData.b as |item|}}
                                <span>{{item}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="legend-item">
                        <div class="legend-item-title" style="background: #00D5B2;">
                            C
                        </div>
                        <div class="legend-item-content">
                            {{#each abcData.c as |item|}}
                                <span>{{item}}</span>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{else}}
            Carregando....
        {{/if}}
    {{/paper-card}}
</div>