{{#if showHistoricModal}}
    {{transactions-graph-historic-modal title='Vendas Realizadas - por produto' onClose=(toggle "showHistoricModal" this) chartData=chartData }}
{{/if}}
<div class="purchase-transaction">
    <h1>Transação de Venda</h1>
    {{#paper-card class="box-full" as |card|}}
        <p>Nova Venda</p>
        <div class="inputs">
            <div class="flex-20">
                {{#power-selector-with-label selected=selectedProducer searchField="name" placeholder="Produtor" options=producers onchange=(action
                    (mut selectedProducer)) as |producer|}}
                    {{producer.name}}
                {{/power-selector-with-label}}
            </div>
            {{paper-input-mask class="flex-20" label="Data da transação" mask='date' value=transactionDate onChange=(action (mut transactionDate))}}
            <div class="flex-20">
                {{debugger}}
                {{#power-selector-with-label selected=selectedProduct searchField="name" placeholder="Produto" options=products onchange=(action
                    (mut selectedProduct)) as |product|}}
                    {{product.name}}
                {{/power-selector-with-label}}
            </div>
            {{paper-input class="flex-20" type="number"  label="Quantidade" value=amount onChange=(action (mut amount))}}
            {{paper-input disabled=true class="flex-20" label="Unidade de Medida" value=(concat selectedProduct.amountScale " Kg") onChange=null}}
            {{paper-input-mask mask='currency' class="flex-20" label="Preço unitário" value=unityPrice onChange=(action (mut unityPrice))}}
            {{paper-input class="flex-20" label="Custo dos produtos" value=productCost onChange=null}}
            {{paper-input-mask mask='currency' class="flex-20" label="Imposto" value=impost onChange=(action (mut impost))}}
            {{paper-input-mask mask='currency' class="flex-20" label="Desconto" value=discount onChange=(action (mut discount))}}
            {{#paper-button class="green-white" raised=true primary=true onClick=(action 'saveTransaction')}}Salvar
                Venda{{/paper-button}}
        </div>
    {{/paper-card}}
    {{#paper-card class="box-big" as |card|}}
        <p>Histórico</p>
        <table>
            <tr class="header">
                <th>Data</th>
                <th class="name">Produto</th>
                <th>Quantidade</th>
                <th>Custo</th>
            </tr>
            {{#each historic as |item|}}
                <tr>
                    <th>{{item.date}}</th>
                    <th class="name">{{item.productName}}</th>
                    <th class="name">{{item.quantity}}</th>
                    <th>{{item.cost}}</th>
                </tr>
                {{else}}
                    Nenhuma transação
            {{/each}}
        </table>
        <th class="button">
            <span>
                {{#paper-button href="" }}Ver todos{{/paper-button}}
            </span>
        </th>
    {{/paper-card}}
    {{#paper-card class="box-full-large" as |card|}}
        <div class="header">
            <p>
                Curva ABC
            </p>
        </div>
        {{#if abcChartData}}
            {{abc-curve-graph chartData=abcChartData legendType="" height=200 }}
            {{#if abcData}}
                <div class="legend">
                    <div class="legend-item">
                        <div class="legend-item-title" style="background: #BB77D6;">
                            A
                        </div>
                        <div class="legend-item-content">
                            {{#each abcData.a as |item|}}
                                <span>{{item}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="legend-item">
                        <div class="legend-item-title" style="background: #FFA947;">
                            B
                        </div>
                        <div class="legend-item-content">
                            {{#each abcData.b as |item|}}
                                <span>{{item}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="legend-item">
                        <div class="legend-item-title" style="background: #00D5B2;">
                            C
                        </div>
                        <div class="legend-item-content">
                            {{#each abcData.c as |item|}}
                                <span>{{item}}</span>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{else}}
            Carregando....
        {{/if}}
    {{/paper-card}}
</div>