{{#if showPromptDialog}}
    {{add-product-modal editMode=editMode model=editableProduct onClose=(action "closePromptDialog") onSave=(action "closePromptDialog")}}
{{/if}}
{{#if showWasteDialog}}
    {{add-waste-modal products=products model=wasteTransaction onClose=(action "closeWasteDialog") onSave=(action "closeWasteDialog")}}
{{/if}}
{{#if showHistoricModal}}
    {{line-graph-with-filter-modal title=(concat 'Histórico -' selectedProduct.name) onClose=(toggle "showHistoricModal" this) chartData=selectedProduct.chartData }}
{{/if}}
<div class="supply-control">
    <h1>Controle de Estoque</h1>
    <span>
        {{#paper-button href="" onClick=(action "openWasteDialog") }}Adicionar perda{{/paper-button}}
    </span>
    <span>
        {{#paper-button href="" onClick=(action "openPromptDialog") }}Adicionar novo produto{{/paper-button}}
    </span>
    {{#paper-card class="box-full" as |card|}}
        {{bar-graph-with-history chartData=overallChartData height=100 }}
    {{/paper-card}}
    {{#each products as |product index|}}
        {{#paper-card class="box-medium" as |card|}}
            <div class="header">
                <p>
                    {{product.name}}
                </p>
                <span>
                    {{#paper-button href="" onClick=(action "openPromptDialog" product) }}Editar{{/paper-button}}
                </span>
                <span>
                    {{#paper-button href="" onClick=(action "openHistoricModal" product) }}Ver Histórico{{/paper-button}}
                </span>
            </div>
            {{line-graph-with-legend chartData=product.chartData height=100}}
        {{/paper-card}}
        {{else}}
            Nenhum produto cadastrado
    {{/each}}
</div>