{{#if showPromptDialog}}
    {{add-product-modal onClose=(action "closePromptDialog") onSave=(action "closePromptDialog")}}
{{/if}}
<div class="supply-control">
    <h1>Controle de Estoque</h1>
    <span>
        {{#paper-button href="" onClick=(action "openPromptDialog") }}Adicionar novo produto{{/paper-button}}
    </span>
    {{#paper-card class="box-full" as |card|}}
        <div class="chart">
            {{#paper-card}}
                <span class="top-label"> Dinheiro Reais</span>
                {{ember-chart type="bar" data=chartData options=chartOptions height=100}}
                <span class="bottom-label"> Nov - Dez</span>
            {{/paper-card}}
        </div>
        <div class="chart-legend">
            {{#each chartData.labels as |data index| }}
                <div class="legend-item">
                    <div class="circle" style="background: {{get chartData.datasets.1.backgroundColor index}}"> </div>
                    <span style="text-align: left">{{data}}</span>
                </div>
            {{/each}}
        </div>
    {{/paper-card}}
    {{#each products as |product|}}
        {{#paper-card class="box-medium" as |card|}}
            <div class="header">
                <p>
                    {{product.name}}
                </p>
                <span>
                    {{#paper-button href="" onClick=(action "openPromptDialog") }}Editar{{/paper-button}}
                </span>
                <span>
                    {{#paper-button href="" onClick=(action "openPromptDialog") }}Ver Histórico{{/paper-button}}
                </span>
            </div>
        {{/paper-card}}
        {{else}}
            Nenhum produto cadastrado
    {{/each}}
</div>