{{#if showPromptDialog}}
    {{add-product-modal selectedScale=selectedScale scales=scales editMode=editMode model=editableProduct onClose=(action "closePromptDialog") onSave=(action "closePromptDialog")}}
{{/if}}
{{#if showMeasuredSupplyDialog}}
    {{add-waste-modal products=products onClose=(action "closeMeasuredSupplyDialog") onSave=(action "closeMeasuredSupplyDialog")}}
{{/if}}
{{#if showHistoricModal}}
    {{line-graph-with-filter-modal title=(concat 'Histórico -' selectedProduct.name) onClose=(toggle "showHistoricModal" this) chartData=selectedProduct.chartData }}
{{/if}}
<div class="supply-control">
    <h1>Controle de Estoque</h1>
    <span>
        {{#paper-button href="" onClick=(action "openMeasuredSupplyDialog") }}Registrar estoque medido{{/paper-button}}
    </span>
    <span>
        {{#paper-button href="" onClick=(action "openPromptDialog") }}Adicionar novo produto{{/paper-button}}
    </span>
    {{#paper-card class="box-full" as |card|}}
        {{bar-graph-with-history chartData=overallChartData height=100 }}
    {{/paper-card}}
    {{#each products as |product index|}}
        {{supply-control-product-card product=product openPromptDialog=(action "openPromptDialog" product) }}
    {{else}}
        Nenhum produto cadastrado
    {{/each}}
</div>